.about-container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 60px 0 60px ;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.face-container{
    position: relative;
}

.face{
    height: 450px;
    width: 410px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    z-index: 10;
}

.back{
    height: 450px;
    width: 410px;
    background-color: hsla(0, 0%, 100%, 0.04);
    border: 1px solid rgb(255,255,255,.1);
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(35px, 35px);
    /* animation: slideInFromLeft 1.5s ease-in; */
}

@keyframes slideInFromLeft {
    from{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(35px, 35px);
    }
  }

.stay-back{
        height: 450px;
        width: 410px;
        background-color: hsla(0, 0%, 100%, 0.04);
        border: 1px solid rgb(255,255,255,.1);
        border-radius: 15px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(40px, 40px);
        /* animation: slideInFromLeft 1.5s ease-in; */
}


.overlay{
    z-index: 10;
}

.about-disc{
    width: 500px;
    margin-top: 60px;
    text-align:left;
    color: white;
}

.about-disc h1{
    font-size: 50px;
    text-align:left;
}

/* contact links */

.contact-icons{
    width: 200px;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.contact-icons i{
    margin-top: 14px;
    font-size: 24px;
}

.contact-icons a:nth-child(1){
    margin-right: 30px;
}

.contact-icons a:nth-child(2){
    color: #0A66C2;
}




/* for resolution under 1000px */

@media only screen and (max-width:1000px) {

    .face-container{
        padding: 0 30px 0 0px;
    }

    .face{
        height: 340px;
        width: 300px;
    }

    .back{
        height: 340px;
        width: 300px;
    }

    .about-disc h1{
        font-size: 45px;
    }

    .about-disc p{
        font-size: 16px;
    }
}

